<table width="$tablewidth" align="center">
<tr>
  <td class="tablerow">$stats $foldernote</td>
</tr>
</table>
<br>



<form method="post" action="modules.php?op=modload&name=XForum&file=forumdisplay">
<table cellspacing="0" cellpadding="0" border="0" width="$tablewidth" align="center">
<tr><td align="right">$jump
</td></tr></table></form>


<div align="center"><font size="1">
Powered by <b><a href="http://www.trollix.com" target="_blank">XForum 1.0B3b</a></b> by <b>Trollix</b> Software<br>original script by <a href="http://www.xmbforum.com" target="_blank">xmb</a></font><br>
<center>$totaltime</center>
</div>
